.navbar .nav-link {
    color: #fefefe !important;
}

.navbar-scrolled {
    background-color: white !important;
    transition: background-color 300ms ease;
}

.navbar-scrolled .nav-link {
    color: #252525 !important;
}

.navbar .nav-link.active-link {
    color: #3A7CA5 !important;
    font-weight: bold;
}

/* NAVBAR PRICE */
.nav-price {
    background-color: #fefefe;
}

.nav-price .nav-link {
    color: #252525 !important;
}

@media (max-width: 992px) {
    .navbar {
        background-color: #fefefe;
        position: relative;
    }

    .navbar .nav-link {
        color: #252525 !important;
    }

    .navbar .navbar-nav {
        padding: 3rem 0 3rem 0
    }
}
