/* OFF-CANVAS MENU */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 40px;
    z-index: 9999;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #252525;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    text-decoration-line: underline;
}

/* Tombol close */
.sidebar .close-btn {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.link .nav-link.active-link {
    text-decoration: 2px #3A7CA5 underline;
}